* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* small */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* end globa0l rules */
